*{
    font-family: Roboto,Helvetica,Arial, sans-serif;
    margin:0px;
}
html,body{
    height: 100vh;
    width: 100vw;
    /* background-color: aquamarine; */
  
/*   background: rgba(241, 242, 247, 0.3);; */
}




